* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: #ffffff;
  color: #5c38b7;
}



/* ROOT LAYOUT */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #eee;
  background: white;
}

.navbar button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  color: #5c38b7;
}

.navbar button:hover {
  border-bottom: 2px solid #5c38b7;
}



/* HEADINGS */
h1, h2 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}


/* cleaner text */
p {
  margin-top: 10px;
}



/* for all pages */
.page {
  text-align: left;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
  padding: 0 20px;
}

.page-title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.secondary-title {
  margin-top: 20px;
  text-align: center;
}

.extra-space {
  margin-bottom: 60px;
}



/* for Methodology page specifically */
.methodology-image {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}



/* for About page specifically */
.about-content {
  text-align: center;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
  padding: 0 20px;
}



/* for Quiz page specifically */
.question-row {
  margin-bottom: 25px;
}

.question-text {
  margin-bottom: 10px;
  text-align: center;
}

.options-row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.option-button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 6px;
}

.option-button:hover {
  background: #f0f0f0;
}

.option-button.selected {
  background: #ab7de3;
  color: white;
  border-color: #ab7de3;
}

.submit-button {
  margin-top: 30px;
  margin-left: 350px;
  margin-bottom: 100px;
  padding: 12px 20px;
  border: none;
  background: #5c38b7;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.unanswered {
  border: 2px solid red;
  padding: 10px;
  border-radius: 8px;
}

.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.results-title {
  margin-bottom: 20px;
}

.map-wrapper {
  position: relative;
  width: 700px;
  max-width: 90vw;
}

.dot {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #891fd4;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #b01fd4;
}

.coords {
  margin-top: 15px;
}