* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: #ffffff;
  color: #5c38b7;
}



/* ROOT LAYOUT */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #eee;
  background: white;
}

.navbar button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  color: #5c38b7;
}

.navbar button:hover {
  border-bottom: 2px solid #5c38b7;
}



/* HEADINGS */
h1, h2 {
  font-weight: 500;
  margin-bottom: 10px;
}


/* cleaner text */
p {
  margin-top: 10px;
}



/* for all pages */
.page {
  text-align: left;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
  padding: 0 20px;
}

.page-title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}



/* for Methodology page specifically */
.methodology-image {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}



/* for About page specifically */
.about-content {
  text-align: center;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
  padding: 0 20px;
}